.clarinFooter {
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: var(--clarin-blue-dark);
  color: var(--clarin-blue-light);

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--clarin-blue-light);
  }
}

.clarinFooter__Navigation {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 250px);
  gap: 50px;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
    text-align: center;
  }

  &,
  a {
    color: white;
  }

  a {
    display: block;
    transition: color 300ms;
    &:hover {
      text-decoration: none;
      color: var(--clarin-gray-dark);
    }

    & + a {
      margin-top: 4px;
    }
  }
}

.clarinFooter__NavCategory {
  & + .clarinFooter__NavCategory {
    margin-top: 40px;
  }
}

.clarinFooter__NavCategoryTitle {
  margin-bottom: 10px;
  font-size: 18px;
  @media (max-width: 1000px) {
    // margin-bottom: 10px;
  }
}

.clarinFooter__NavCategorySubtitle {
  margin-bottom: 14px;
  font-size: 14px;
  a {
    color: rgba(#ffffff, 0.8);
  }
}

.clarinFooter__NavCategoryLinks {
  margin-left: 15px;
  @media (max-width: 950px) {
    margin-left: 0;
  }
  
  & > div {
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 6px;
      height: 1px;
      position: absolute;
      left: -15px;
      top: 10px;
      background-color: var(--clarin-blue-light);
      @media (max-width: 950px) {
        display: none;
      }
    }
  }
}

.clarinFooter__LogoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
  
  a {
    width: 180px;
    margin-bottom: 15px;
  }

  p {
    margin: 21px 0;
    font-size: 21px;
    text-align: center;
  }
}

.clarinFooter__Logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid var(--clarin-gray-dark);
  margin-top: 40px;
  @media (max-width: 450px) {
    flex-direction: column;
  }

  & > div {
    &:first-child {
      img {
        max-height: 30px;
      }

      a + a {
        margin-left: 10px;
      }
    }

    &:last-child img {
      height: 40px;
    }

    & + div {
      @media (max-width: 450px) {
        margin-top: 20px;
      }
    }
  }
}

.clarinFooter__Copyright {
  margin-top: 40px;
  font-size: 14px;
  text-align: center;
}