<ng-container *ngIf="(listOfFiles | async) as files; else loading">
  <!-- Show "No files" message -->
  <div *ngIf="(hasNoFiles | async)" class="text-center text-muted my-3">
    {{ 'item.view.box.no-files.message' | translate }}
  </div>

  <!-- Show list of files -->
  <div *ngFor="let file of files">
    <ds-file-description [fileInput]="file"></ds-file-description>
  </div>
</ng-container>

<!-- Spinner shown only while listOfFiles is null or undefined -->
<ng-template #loading>
  <div class="d-flex flex-column justify-content-center align-items-center my-3">
    <div class="spinner-border text-primary" role="status"></div>
    <div class="px-4 pt-2">
      {{ 'item.preview.loading-files' | translate }}
      <a *ngIf="emailToContact" [href]="'mailto:' + emailToContact" class="email-text">
        {{ emailToContact }}
      </a>
    </div>
  </div>
</ng-template>