<div class="container w-100 h-100">
  <div class="text-center mt-5 row justify-content-md-center">
    <div>
      <div class="mb-4 d-flex justify-content-center align-items-center w-100">
        <img class="login-logo" src="assets/images/dspace-logo.png" alt="{{'repository.image.logo' | translate}}">
        <a href="https://www.clarin.eu/" target="_blank" rel="noopener noreferrer">
          <img class="ml-5 clarin-logo" src="assets/images/clarin-logo.svg" alt="Clarin logo" >
        </a>
      </div>
      <h1 class="h3 mb-0 font-weight-normal">{{"logout.form.header" | translate}}</h1>
      <ds-log-out></ds-log-out>
    </div>
  </div>
</div>
