// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';
@import '../../../styles/_clarin-styles.scss';

.facet-filter, .setting-option {
  background-color: var(--bs-light);
  border-radius: var(--bs-border-radius);

  &.p-3 {
    // Needs !important because the original bootstrap class uses it
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .badge-secondary {
    background-color: var(--bs-primary);
  }

  h4 {
    font-size: 1.1rem
  }
}

.alert-warning {
  background-color: #fcf8e3 !important;
  border: 1px solid #fbeed5 !important;
  color: #c09853 !important;
}

header {
  li > .navbar-section,
  li > .expandable-navbar-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

.ng-toggle-on {
  color: #fff !important;
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.ng-toggle-off {
  color: #fff !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.page-item.active .page-link{
  z-index: 2 !important;
  color: #fff !important;
  cursor: default !important;
  background-color: #428bca !important;
  border-color: #428bca !important;
}

.contentWrapper {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.clarinButton,
%clarinButton {
  display: inline-block;
  min-height: 30px;
  padding: 4px 16px;
  border: 1px solid var(--clarin-blue-dark);
  background-color: var(--clarin-blue-dark);
  color: white;
  font-size: 14px;
  transition: background-color 300ms, border-color 300ms, color 300ms;
  &:hover {
    text-decoration: none !important;
    border-color: var(--clarin-red);
    background-color: var(--clarin-red);
    color: white;
  }

  & + .clarinButton,
  & + .clarinButton--Secondary {
    margin-left: 10px;
  }
}

.clarinButton--Secondary {
  @extend %clarinButton;
  background-color: white;
  color: var(--clarin-blue-dark);
  &:hover {
    border-color: var(--clarin-blue-light);
    background-color: var(--clarin-blue-light);
    color: white;
  }
}