<div class="clarin-top-header contentWrapper">
  <div class="clarin-logo-wrapper">
    <a routerLink="/" class="clarin-header-logo">
      <img src="../../assets/images/clarin-header-logo.svg" />
      <img src="../../assets/images/clarin-logo-without-text.png" />
    </a>
  </div>

  <div class="clarin-top-header-right">
    <button class="clarin-top-header-language-selector" (click)="setLanguage()">
      {{ nextLanguage }}
      <div class="clarin-top-header-language-icon">
        <img src="../../assets/images/language-icon.svg" width="30" height="30" alt="{{ 'language.icon' | translate }}" />
      </div>
    </button>
    <div *ngIf="authenticatedUser == null">
      <a id="clarin-signon-discojuice" class="signon clarinButton" >
        {{'login.title' | translate}}
      </a>
    </div>
    <a class="hidden" id="repository_path" [href]="repositoryPath"></a>
    <div *ngIf="authenticatedUser != null">
      <a routerLink="/profile" class="clarinButton">
        {{authenticatedUser.name}}
      </a>
      <a routerLink="/logout" class="clarinButton--Secondary">
        {{'logout.title' | translate}}
      </a>
    </div>
    <div>
    </div>
  </div>
</div>
<!--<script src="assets/aai.js"></script>-->
