.clarin-top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clarin-header-logo {
  display: flex;
  align-items: center;
  img {
    &:first-of-type {
      width: 180px;
    }

    &:last-of-type {
      margin-left: 15px;
      vertical-align: bottom;
    }
  }
}

.clarin-top-header-right {
  display: flex;
  align-items: center;

  .signon.clarinButton:hover {
    text-decoration: none !important;
  }
}

.clarin-top-header-language-selector {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  font-weight: 700;
  color: #052d4d;
  font-size: 14px;
  letter-spacing: .7px;
  transition: color .2s linear;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: $red;
    .clarin-top-header-language-icon {
      background-color: $red;
    }
  }
}

.clarin-top-header-language-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clarin-blue-dark);
  transition: background-color .2s linear;
  pointer-events: none;
  img {
    width: 70%;
  }
}